<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
<body>
    <%- include('./partials/header.ejs') %>
    <div id="container">

        <% for(let postNum = 0; postNum < posts.length; postNum++) { 
                let postInstance = posts[postNum]; %>
            <div class="card">
                <div class="card-header">
                    <a href="/posts/<%=postInstance.id%>">
                        <h4><%= postInstance.title %></h4>
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-title"> <a href = "/users/<%= postInstance.user %>"> <%= postInstance.user %> </a> </h6>
                    <p class="card-text"> <%
                        let sentenceArr = postInstance.body.split('. ');
                        let firstTwoSentences = `${sentenceArr[0]}. ${sentenceArr[1]}.`;
                         %>
                        <%= firstTwoSentences %> </p>
                </div>
                <div class="card-footer text-muted">
                     2 days ago
                     // to update
                </div>
            </div>
            <% } %>

    </div>
    <%- include('./partials/bootstrapJS_Popper.ejs') %>
</body>
<footer>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>