<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <style>

        .transparent-btn {
            display: none;
        }
        .selected {
            color: red;
            font-weight: bold;
        }
    
    </style>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="post-container">

        <div class="card">
            <div class="card-header">
                <a href="/posts/<%=post.id%>">
                    <h4><%= post.title %></h4>
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-title"> <a href = "/users/<%= post.user %>"> <%= post.user %> </a> </h6>
                <p class="card-text"> <%= post.body %> </p>
            </div>
            <div class="card-footer text-muted">
                <% let netVotes = post.upvotes - post.downvotes %>
                <%= netVotes %> votes
            </div>
        </div>

    </div>
    

<!-- INTERACTION PANEL -->
<%- include('./partials/interaction-panel.ejs') %>


<div class="comment-container" style="margin-left:2em">
    <h3>Comments:</h3>
    <table>
    <% if(foundComments.length > 0) {
        for(let comment of foundComments) { %>
        <div class="comment">
                <h5><%= comment.title %></h5>
            <br>
                <%= comment.user %>
            <br>
                <%= comment.body %>
        </div>
        <br>
    <% }} %>
        </table>
    <%- include('./partials/comments-form.ejs') %>
</div>


    <%- include('./partials/bootstrapJS_Popper.ejs') %>
</body>
<footer>
    <style>
        .delete-update-btn {
            display: inline-block;
        }
    </style>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>