<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <style>

        .transparent-btn {
            display: none;
        }
        .selected {
            color: red;
            font-weight: bold;
        }
    
    </style>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="post-container">

        <div class="card">
            <div class="card-header">
                <a href="/posts/<%=post.id%>">
                    <h4><%= post.title %></h4>
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-title"> <a href = "/users/<%= post.user %>"> <%= post.user %> </a> </h6>
                <p class="card-text"> <%= post.body %> </p>
            </div>
            <div class="card-footer text-muted">
                <% let netVotes = post.upvotes - post.downvotes %>
                <%= netVotes %> votes
            </div>
        </div>

    </div>
    

<!-- INTERACTION PANEL -->
<% if(currentUser) { %>
    
    <div class="interact-panel">
        <!-- Upvote BUTTON -->
        <form action="/users/<%=post.id%>/upvote" method="POST" class="interact-btn">
            <label>
                <input type="submit" value="Upvote" class="transparent-btn">
                <% if(currentUser.upvotes.includes(post.id)) { %>
                    <p id="upvote-button" style="color:red">^^</p>
                <% } else { %>
                    <p id="upvote-button">^^</p>
                <% } %>
            </label>
        </form>
        <!--Net Vote Display-->
        <p><% let netVotes = (post.upvotes - post.downvotes) %>
            <%= netVotes %> </p>
        <!-- Downvote BUTTON -->
        <form action="/users/<%=post.id%>/downvote" method="POST" class="interact-btn">
            <label>
                <input type="submit" value="Downvote" class="transparent-btn">
                <% if(currentUser.downvotes.includes(post.id)) { %>
                    <p id="downvote-button" style="color:red">VV</p>
                <% } else { %>
                    <p id="downvote-button">VV</p>
                <% } %>
            </label>
        </form>

        <!-- BOOKMARK BUTTON -->
        <form action="/users/<%=post.id%>/bookmark" method="POST" class="interact-btn">
            <label>
                <input type="submit" value="Bookmark Post" class="transparent-btn">
            <% console.log(currentUser);
            console.log('above is currentUser')
            if(currentUser.bookmarks.includes(post.id)) { %>
                    <p id="bookmark-button" style="color:red">FAV </p>
                <% } else { %>
                    <p id="bookmark-button">FAV </p>
                <% } %>
            </label>
        </form>
        
        <!-- DELETE BUTTON -->
        <form action="/posts/<%=post.id%>?_method=DELETE" method="POST" class="interact-btn">
            <input type="submit" value="Delete Post">
        </form>
        <!-- UPDATE BUTTON -->
        <form action="/posts/<%=post.id%>/edit" method="GET" class="interact-btn">
            <input type="submit" value="Update Post">
        </form>
    </div> 

<% } %>

    </div class="comment-container">
        <h3>Comments:</h3>
        <table>
        <% if(foundComments.length > 0) {
            for(let comment of foundComments) { %>
            <div class="comment">
                    <h5><%= comment.title %></h5>
                <br>
                    <%= comment.user %>
                <br>
                    <%= comment.body %>
            </div>
            <br>
        <% }} %>
            </table>
        <%- include('./partials/comments-form.ejs') %>
    <div>


    <%- include('./partials/bootstrapJS_Popper.ejs') %>
</body>
<footer>
    <style>
        .delete-update-btn {
            display: inline-block;
        }
    </style>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>